@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@100&display=swap');

body {
    background: linear-gradient(to right, #000000, #1d1dff);
    background-size: 200% 100%;
    animation: gradientAnimation 10s ease infinite alternate;
    filter: brightness(200%);
    position: relative;
    overflow: visible;
    font-family: 'Roboto', sans-serif;
}

.car_container {
    width: 100%;
}

@keyframes gradientAnimation {
    20% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

input[type=text] {
    resize: vertical;
    padding: 5px;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    height: 15px;
}

.create_car_form {
    margin-bottom: 10px;
    display: flex;
}



.edit_form {
    display: flex;
    margin-bottom: 15px;
}

input[type="color"] {
    width: 30px;
    height: 25px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.block_car {
    display: grid;
    border-bottom: 3px red dashed;
    margin-bottom: 10px;
}

table {
    color: white;
}

.block_car_svg {

    width: 85px;
    height: 70px;
}

.block_car_svg svg {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
}

.block_car span {
    color: white;
    margin-bottom: -5px;
    margin-top: 15px;
}

.block_car button {
    width: 65px;
    height: 25px;
    border: none;
    border-radius: 6px;
    margin-top: 15px;
}

.car_generate {
    width: 108px;
}

.car_winner,
.garage_button {
    width: 95px;
    height: 25px;
    border-radius: 11px;
    border: none;
    color: black;
    font-size: 15px;
}

.car_winner {
    margin-left: 20px;
}

span,
h2 {
    color: white;
}

.garage_header h2 {
    margin: 0px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination button {
    border: none;
    background-color: #ffffff;
    color: #1d1dff;
    padding: 12px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 45px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 25px;
}

.pagination span {
    margin: 0 5px;
}